<% layout("/layouts/boilerplate") %>
<body>
    <h4>Listings Details</h4>
    <ul>
        <li>Title: <%= listing.title %></li>
        <li>Price: ₹ <%= listing.price.toLocaleString("en-IN") %></li>
        <li>Description: <%= listing.description %></li>
    </ul>
    <a href="/listings/<%= listing._id %>/edit">Edit this Listing</a>
    <br><br>
    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button>Delete this listing</button>
    </form>
</body>
